* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  text-align: justify;
  background-color: #faf0e6;
  overflow: hidden;
}
.menu {
  padding-top: 10px;
  background-color: #ffdead;
  width: 100%;
  min-height: 70px;
}
main {
  height: calc(90% - 70px);
  padding: 8px 0px 0px 8px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  width: 99%;
  position: fixed;
}
.tabela-header {
  margin-top: 10px;
}

.tabela-footer {
  display: flex;
  align-items: center;
  padding-top: 10px;
  border: solid;
}

.item-tabela {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

hr {
  margin: 10px;
  width: 100%;
}

.button {
  background: transparent;
  cursor: pointer;
  border: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  text-align: center;
  bottom: 0;
  height: 5%;
}

em {
  font-weight: bold;
  font-size: 14px;
  color: #ea0000;
  text-decoration: underline;
  font-family: Arial, sans-serif;
}
titulo {
  font-size: 18px;
  color: blue;
}
.titulo {
  font-weight: bold;
  font-size: 14px;
  color: #ea0000;
  text-decoration: underline;
  font-family: Arial, sans-serif;
}

a {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  text-align: center;
  color: blue;
  text-decoration: underline;
}
.link {
  font-family: Tahoma, sans-serif;
  text-align: center;
  font-size: 14px;
  color: blue;
  text-decoration: underline;
}
.espacamento-titulo {
  text-align: center;
  padding: 10px 0px;
}
